<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver </property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres </property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect </property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="com.izmaylov.module3.entity.Subscriber"/>
        <mapping class="com.izmaylov.module3.entity.Message"/>
        <mapping class="com.izmaylov.module3.model.Device"/>
        <mapping class="com.izmaylov.module3.entity.tariffEntity.OnlyCallTariff"/>
        <mapping class="com.izmaylov.module3.entity.tariffEntity.EverythingTariff"/>
        <mapping class="com.izmaylov.module3.entity.tariffEntity.CommunicationTariff"/>
        <mapping class="com.izmaylov.module3.model.Tariff"/>

    </session-factory>
</hibernate-configuration>